{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'site/css/styles.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'site/images/iconca.png' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <table class="table-page" border=0 cellpadding="0" cellspacing="0">
        <tr><td valign=top>
        {% block mainmenu %}
                <div class="header">
                    <ul id="mainmenu" class="mainmenu">
                    <li class="logo"><a href="{% url 'home' %}">
                        <img class="img-responsive" src="../../static/site/images/main.png" width="60" height="60">
                    </a></li>
        {% for m in menu %}
            {% if not forloop.last %}
                    <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
            {% else %}
                    <li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
            {% endif %}
        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                </div>
        {% endblock mainmenu %}

<!-- Блок контента -->
	<div>
    {% block content %}
    {% endblock %}
	</div>
<!-- Конец блока контента -->

    </td></tr>
    <!-- Footer -->
    <tr><td valign=top>
        <div id="footer">
            <p>&copy; 2023 Kaf46, NRNU Mephi.</p>
        </div>
    </td></tr></table>
    <!-- Конец footer'а и страницы -->

  </body>
</html>
